{
    "endpoint": "/open-console/health-check",
    "method": "GET",
    {{ include "endpoints/input_query_strings.tmpl" }},
    {{ include "endpoints/input_headers.tmpl" }},
    "output_encoding": "no-op",
    "backend": [
        {
            "url_pattern": "/health-check",
            "method": "GET",
             "extra_config": {
                {{ include "endpoints/backend/rate_limit_backend.tmpl" }}
            },
            "host": [
                "{{ .env.backend_hosts.host_open_console }}"
            ]
        }
    ],
    "extra_config": {
        {{ include "endpoints/rate_limit_endpoint.tmpl" }}
    }
}