"security/cors": {
  "allow_origins": [
    "*"
  ],
  "allow_methods": [
    "POST",
    "GET",
    "PUT",
    "PATCH",
    "DELETE"
  ],
  "allow_headers": [
    "Origin",
    "Authorization",
    "Content-Type"
  ],
  "expose_headers": [
    "Content-Length"
  ],
  "max_age": "1h"
}
