{{ template "_endpoints_healthcheck.tmpl" . }},
{{ template "_endpoints_console.tmpl" . }},
{{ template "_endpoints_seller.tmpl" . }},
{{ template "_endpoints_shop.tmpl" . }},
{{ template "_endpoints_catalog.tmpl" . }},
{{ template "_endpoints_asset.tmpl" . }},
{{ template "_endpoints_shipping.tmpl" . }},
{{ template "_endpoints_order.tmpl" . }},
{{ template "_endpoints_sc_promotion.tmpl" . }},
{{ template "_endpoints_promotion_engine.tmpl" . }}
